/* Contact Section Styles */
.contact-section {
  background-color: #f8f9fa;
  padding: 2.5rem 1rem;
  text-align: center; /* Center text horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
}

.contact-section h2 {
  font-size: 3rem; /* Increase font size for the heading */
  font-weight: bold; /* Make the heading bold */
  margin-bottom: 1rem; /* Decrease space below heading to fit better with paragraph */
}

.contact-section .btn {
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem; /* Adjust spacing as needed */
}

/* Specific Button Styles */
.contact-section .btn-primary {
  background-color: black;
  color: white;
  border: none;
}

.contact-section .btn-secondary {
  background-color: white;
  color: black;
  border: 1px solid black;
}

